.form-component {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 25px;

  .form {
    display: flex;
    flex-direction: column;

    .text-input {
      margin-bottom: 7px;
      border: 1px solid #efefef;
      border-radius: 3px;
      background-color: $bg-color;
      padding: 9px 0 7px 8px;
      font-size: $normal-font-size;
      font-weight: 400;

      &:focus {
        outline: none;
        border: 1px solid #b2b2b2;
      }
    }
  }

  .button {
    @include blueButton();
    i {
      font-size: 18px;
      margin-right: 5px;
    }
    svg {
      margin-right: 10px;
    }
  }

  .divider {
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: 600;
    position: relative;
    margin: 20px 0;
    &:before {
      content: "";
      width: 42%;
      position: absolute;
      background-color: $dark-grey;
      height: 1px;
      left: 0;
      top: 6px;
      opacity: 0.8;
    }
    &:after {
      content: "";
      width: 42%;
      position: absolute;
      background-color: $dark-grey;
      height: 1px;
      right: 0;
      top: 6px;
      opacity: 0.8;
    }

  }
  .forgot-link {
    font-size: $small-font-size;
    color: $dark-blue;
  }
}
