.auth {
  max-width: $max-page-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;

  .column {
    width: 40%;

    &:last-child {
      width: 38%;
      margin-left: 35px;
    }

    .white-box {
      text-align: center;
      padding: 15px;
      @include boxBorder(no);

      .change-link {
        color: $light-blue;
        cursor: pointer;
      }

      .text {
        margin: 15px;
      }
    }

    .form-box {
      margin-bottom: 10px;
      padding: 0 40px;
      padding-top: 30px;
      img {
        height: 60px;
      }
    }

    .app-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;

      .appstores {
        margin-top: 25px;
        img {
          height: 40px;
          &:first-child {
            margin-right: 10px;
          }
        }

      }
    }
  }
}
